.section-about
	.container
		.section-about__container-title
				.container-title
					h2.container-title__title About
					hr.container-title__line
		.section-about__descriptions
			+description('Hackathons to watch out for', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Condimentum diam orci pretium a pharetra, feugiat cursus. Dictumst risus, sem egestas odio cras adipiscing vulputate. Nisi, risus in suscipit non. Non commodo volutpat, pharetra, vel.', 'description-big.png', 'description-mini.png')
			+description('Hackathons to watch out for', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Condimentum diam orci pretium a pharetra, feugiat cursus. Dictumst risus, sem egestas odio cras adipiscing vulputate. Nisi, risus in suscipit non. Non commodo volutpat, pharetra, vel.', 'description-big.png', 'description-mini.png')