.section-about#about
	.container
		.section-about__container-title
				.container-title
					h2.container-title__title=aboutTitle
					hr.container-title__line
		.section-about__descriptions
			+description(aboutDescriptionTitle1, aboutDescriptionSubtitle1, 'description-big.png', 'description-mini.png', 'order1-1', 'order1-2', arrowRightAction)
			+description(aboutDescriptionTitle2, aboutDescriptionSubtitle2, 'description-big.png', 'description-mini.png', 'order2-1', 'order2-2', arrowRightAction)