.section-categories#categories
	.container
		.section-categories__container-title
			.container-title
				h2.container-title__title=categoriesTittle
				hr.container-title__line
	.section-categories__categories
		.categories
			img(src="img/background-categories.svg", alt="background-categories").background-categories
			.container
				.categories__flex-container
					+category(categoryTitle1, categorySubtitle1, 'restaurant', arrowRightAction)
					+category(categoryTitle2, categorySubtitle2, 'hangouts', arrowRightAction)
					+category(categoryTitle3, categorySubtitle3, 'utilities', arrowRightAction)
					+category(categoryTitle4, categorySubtitle4, 'shopping', arrowRightAction)


