.section-categories
	.container
		.section-categories__container-title
			.container-title
				h2.container-title__title Categories
				hr.container-title__line
	.section-categories__categories.categories
		img(src="img/background-categories.svg", alt="background-categories").background-categories
		.container
			.categories__flex-container
				.categories__category-container
					.categories__container-icon
						img(src="img/restaurant.svg", alt="restaurant").categories__icon
					h3.categories__title Restaurants
					p.categories__subtitle Delivering faster and more personalized support with 
					a.categories__action.action Checkout
						img(src="img/arrow-right.svg", alt="arrow to right").action__arrow
				.categories__category-container
					.categories__container-icon
						img(src="img/hangouts.svg", alt="hangouts").categories__icon
					h3.categories__title Hangouts
					p.categories__subtitle Delivering faster and more personalized support with
					a.categories__action.action Checkout
						img(src="img/arrow-right.svg", alt="arrow to right").action__arrow
				.categories__category-container
					.categories__container-icon
						img(src="img/utilities.svg", alt="utilities").categories__icon
					h3.categories__title Utilities
					p.categories__subtitle Delivering faster and more personalized support with
					a.categories__action.action Checkout
						img(src="img/arrow-right.svg", alt="arrow to right").action__arrow
				.categories__category-container
					.categories__container-icon
						img(src="img/shopping.svg", alt="shopping").categories__icon
					h3.categories__title Shopping
					p.categories__subtitle Delivering faster and more personalized support with
					a.categories__action.action Checkout
						img(src="img/arrow-right.svg", alt="arrow to right").action__arrow

