.section-categories#categories
	.container
		.section-categories__container-title
			.container-title
				h2.container-title__title Categories
				hr.container-title__line
	.section-categories__categories
		.categories
			img(src="img/background-categories.svg", alt="background-categories").background-categories
			.container
				.categories__flex-container
					+category('Restaurants', 'Delivering faster and more personalized support with', 'restaurant')
					+category('Hangouts', 'Delivering faster and more personalized support with', 'hangouts')
					+category('Utilities', 'Delivering faster and more personalized support with', 'utilities')
					+category('Shopping', 'Delivering faster and more personalized support with', 'shopping')


