footer
	.container
		.footer
			.footer__button
				a.main-button(href="app.html") 
					span.main-button__text FIND THE PLACE
			.footer__nav
				ul.nav__list-footer
						each item,i in links
							li.nav__item-footer
								a.nav__link-footer(href=`${arr[i]}`) #{item}