footer
	.container
		.footer
			.footer__button
				a.main-button(href=linkApp) 
					span.main-button__text=mainTextButton
			.footer__nav
				ul.nav__list-footer
						each item,i in linkNames
							li.nav__item-footer
								a.nav__link-footer(href=`${navLinks[i]}`) #{item}