+menu 
.container 
	header.header#home
		p.header__name-company FindPlace
		nav.nav.header__nav
			+burger-menu
			.header__box-control
				+nav-links
				.header__select-languages.select-languages#select-languages
					+globe
					p.select-languages__languages English
					+arrow-down
				.toggle-switch.header__toggle
					label.toggle-switch__label
						input.toggle-switch__checkbox(type='checkbox')#mod
						span.toggle-switch__slider
		
