.main-index
	
	.main-index__content
		.main-index__left-content.target-action
			h1.target-action__title Look for places 
				span.target-action__orange to&nbsp;visit
			p.target-action__subtitle Just type in&nbsp;the address
			button.target-action__button.main-button 
				span.main-button__text FIND THE PLACE
		.main-index__right-content
			img(src='/img/map.png' alt='map and pictures')