.placeItem-section
	.container
		.placeItem-section__button
			button.main-button.main-button_mini
				span.main-button__text BACK
		.placeItem-section__place-item-container
			+place-item
		.placeItem-section__map#map