.search-section
	.container
		.search-section__container-title
			h1.search-section__title.title-categories=searchTitle
			+select-categories(searchCategories, searchDataCategories, searchTextSelectCategories)
		.search-section__search
			+search
		.search-section__control-panel
			+filter(searchTextFilters, searchIdFilters)
			+sort(searchTextSort, searchIdSort)