-const textCategories = 'Just write the name of the street'

.search-section
	.container
		.search-section__container-title
			+select-categories(['Text1', 'test2'], 'Select your option')
			h1.search-section__title.title-categories= textCategories 
		.search-section__search
			+search