$padding-filter: 10px;

.filter {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	min-width: 200px;
	column-gap: 10px;
	box-shadow: 0px 3.99276px 11.9783px rgba(105, 61, 231, 0.2);
	background-color: var(--background-color-gray);
	border-radius: 10px;

	&__title {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: $padding-filter;
		border-radius: 10px;
		background-color: var(--color-violet);
		color: var(--color-font-white);
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
	}

	&__checkbox {
		display: flex;
		align-items: center;
		justify-self: center;
		gap: 5px;
		padding: $padding-filter;
		border-radius: 10px;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 600;
		font-size: 16px;

		input {
			position: absolute;
			z-index: -1;
			opacity: 0;
		}

		input+label {
			display: inline-flex;
			align-items: center;
			user-select: none;
			cursor: pointer;
		}

		input+label::before {
			content: '';
			display: inline-block;
			width: 1em;
			height: 1em;
			flex-shrink: 0;
			flex-grow: 0;
			border: 1px solid #adb5bd;
			border-radius: 0.25em;
			margin-right: 0.5em;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 50% 50%;
		}

		input:checked+label::before {
			border-color: var(--color-violet);
			background-color: var(--color-violet);
			background-image: url('../img/check.svg');
		}

		input:not(:disabled):not(:checked)+label:hover::before {
			border-color: var(--color-violet);
		}


		input:focus+label::before {
			box-shadow: 0 0 0 0.1px var(--color-violet);
		}


		input:focus:not(:checked)+label::before {
			border-color: var(--color-violet);
		}


		input:disabled+label::before {
			background-color: var(--color-font-white);
		}
	}
}