// Подключение конфигов
@import "../config/_normalize.scss";
@import "../config/_reset.scss";
@import "../config/_fonts.scss";

// Подключение блоков
@import "../blocks/_header.scss";
@import "../blocks/main-index.scss";


// Основные селекторы
.container {
	max-width: 1240px;
	padding: 0 20px;
	margin: 0 auto;
	overflow: hidden;
}


// Переменные
:root {
	--color-orange: #F96C61;
	--color-button: #FD6D61;
}