.menu {
	position: fixed;
	right: 0;
	width: 70%;
	background-color: var(--menu-background);
	height: 100vh;
	z-index: $ui-index1;
	font-family: Inter;
	font-weight: 500;
	font-size: 18px;
	transform: translateX(100vw);
	transition: transform 0.5s ease;

	&__flex-container {
		display: flex;
		height: 100vh;
		align-items: center;
	}

	&__box-control {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 80px;
		width: 80%;
		height: 60%;
		margin: 0 auto;
	}

	&__cross {
		position: absolute;
		cursor: pointer;
	}

	&__toggle {
		position: absolute;
		right: 17px;
		top: 15px;
	}
}

.nav__list-menu {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 200px;
	row-gap: 20px;
}

.menu-active {
	transform: translateX(0);
	transition: transform 0.5s ease;
}