.search {
	display: flex;
	width: 480px;
	@include total-padding;

	&__input {
		width: 100%;
		height: 48px;
		padding: 12px 32px 12px 16px;
		background: var(--background-color-gray);
		border-bottom-right-radius: 8px 8px;
		border-top-right-radius: 8px 8px;
		border: 1px solid var(--background-color-gray);
		outline: 0;
		caret-color: var(--color-font)
	}

	&__btn {
		height: 48px;
		width: 48px;
		background: var(--background-color-gray);
		border: 1px solid var(--background-color-gray);
		border-top-left-radius: 8px 8px;
		border-bottom-left-radius: 8px 8px;

		&:hover {
			cursor: pointer;
			background: var(--color-hover-app);
		}
	}

	&__loupe {
		path {
			fill: var(--color-font);
		}
	}
}