.select-categories {
	max-width: $width;
	margin: 50px auto;

	.select-btn {
		display: flex;
		height: 55px;
		background: var(--background-color-gray);
		padding: 20px;
		font-size: 18px;
		font-weight: 400;
		border-radius: 8px;
		align-items: center;
		cursor: pointer;
		justify-content: space-between;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

		.arrow-down {
			path {
				fill: var(--color-font);
			}
		}
	}

	.options {
		position: absolute;
		width: $width;
		overflow-y: auto;
		max-height: 295px;
		padding: 10px;
		margin-top: 10px;
		border-radius: 8px;
		background: var(--background-color-gray);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		animation-name: fadeInDown;
		-webkit-animation-name: fadeInDown;
		animation-duration: 0.35s;
		animation-fill-mode: both;
		-webkit-animation-duration: 0.35s;
		-webkit-animation-fill-mode: both;
		z-index: $ui-index0;

		.option {
			display: flex;
			height: 55px;
			cursor: pointer;
			padding: 0 16px;
			border-radius: 8px;
			align-items: center;
			background: var(--background-color-gray);

			&:hover {
				background: var(--color-hover-app);
			}

			.arrow-down {
				width: 25px;
				height: 25px;
				margin-right: 12px;
			}

			.option-text {
				font-size: 18px;
				color: var(--color-font);
			}
		}
	}
}

.select-btn {
	.arrow-down {
		width: 25px;
		height: 25px;
		transition: 0.3s;
	}
}

.select-categories.active {
	.select-btn {
		.arrow-down {
			transform: rotate(-180deg);
		}
	}

	.options {
		display: block;
		opacity: 0;
		z-index: $ui-index2;
		animation-name: fadeInUp;
		-webkit-animation-name: fadeInUp;
		animation-duration: 0.4s;
		animation-fill-mode: both;
		-webkit-animation-duration: 0.4s;
		-webkit-animation-fill-mode: both;
	}
}

@keyframes fadeInUp {
	from {
		transform: translate3d(0, 30px, 0);
	}

	to {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

@keyframes fadeInDown {
	from {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}

	to {
		transform: translate3d(0, 20px, 0);
		opacity: 0;
	}
}