.toggle-switch {
	--light: #d8dbe0;
	--dark: #28292c;
}

.toggle-switch {
	position: relative;
	width: 79px;
}

.toggle-switch__label {
	position: absolute;
	width: 100%;
	height: 35px;
	background-color: var(--light);
	border-radius: 50px;
	cursor: pointer;
}

.toggle-switch__checkbox {
	position: absolute;
	display: none;
}

.toggle-switch__slider {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50px;
	transition: 0.3s;
}

.toggle-switch__checkbox:checked~.toggle-switch__slider {
	background-color: var(--dark);
}

.toggle-switch__slider::before {
	content: "";
	position: absolute;
	top: 13%;
	left: 8%;
	width: 39%;
	height: 75%;
	border-radius: 50%;
	background-color: var(--light);
	transition: 0.3s;
	background: url('/img/toggle-light.png') center/cover no-repeat
}

.toggle-switch__checkbox:checked~.toggle-switch__slider::before {
	transform: translateX(120%);
	background-color: var(--dark);
	box-shadow: none;
	background: url('/img/toggle-dark.png') center/cover no-repeat
}