mixin filter(texts = [], id = [])
	.filter
		.filter__title
			+columns
			span.filter__text Filter By
		.filter__checkbox#filter
			each text, i in texts
				input(id=`${id[i]}` name=`${text}` type='checkbox' value=id[i])
				label(for=`${id[i]}`)= text