mixin menu 
	.menu#menu
		+cross
		.toggle-switch.menu__toggle
			label.toggle-switch__label
				input.toggle-switch__checkbox(type='checkbox')#mode-mobile
				span.toggle-switch__slider
		.menu__flex-container
			.menu__box-control
				+nav-links('-menu')
				.menu__select-languages.select-languages#select-languages-mobile
					+globe
					p.select-languages__languages English
					+arrow-down