mixin select-categories(selects, dataCategories , text = 'Select your option')
	-selects = selects || []
	.select-categories
		.select-btn
			span.sBtn-text(data-category=dataCategories[0])= text
			+arrow-down('arrow-down')
		ul.options
			each selectName, i in selects
				li.option(data-category=dataCategories[i])
					span.option-text #{selectName}