.description {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	min-height: 525px;
	margin-bottom: 12px;
	@include total-padding;


	&__container-text {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 540px;
		height: 342px;
	}

	&__title {
		width: 385px;
		height: 108px;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 600;
		font-size: 36px;
		line-height: 54px;
	}

	&__subtitle {
		width: 444px;
		height: 160px;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 500;
		font-size: 15px;
		line-height: 32px;
	}

	&__container-images {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 540px;
		height: 520px;
	}

	&__container-position {
		position: relative;
	}

	&__image--mini {
		position: absolute;
		left: 54%;
		top: 43.7%;
		width: 235px;
		height: 242px;
	}

	&__image--big {
		width: 278px;
		height: 339px;
	}
}

.section-about {
	&__container-title {
		width: 123px;
		margin: 0 auto 80px auto
	}
}

.order2-1 {
	order: 2;
}

.order2-2 {
	order: 1;
	justify-content: start;
	padding-left: 5%;
}