.arrow-top {
	display: flex;
	align-items: center;
	height: 80px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 32px;
	cursor: pointer;
	background-color: var(--background-color-white);

	path {
		fill: var(--color-hover-icons)
	}

	&:hover {
		path {
			animation: moveUp 0.3s ease-in;
		}
	}

	svg {
		order: -1;
		margin-right: 15px;
	}
}


@keyframes moveUp {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-7px);
	}

	100% {
		transform: translateY(0);
	}
}

.section-back {
	margin-bottom: 39px;
	//@include total-padding;

	&__arrow-top {
		display: flex;
		justify-content: flex-end;
	}
}