.section-categories {
	margin-bottom: 84px;

	&__container-title {
		width: 200px;
		margin: 0 auto;
		margin-bottom: 34px;
	}

	&__categories {
		position: relative;
		height: 500px;
	}


}

.categories {
	font-family: 'Inter';

	&__flex-container {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding-top: 90px;
	}

	&__category-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		height: 330px;
		max-width: 270px;
		width: 100%;
	}

	&__container-icon {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 101px;
		height: 104px;
		transition: all 0.2s;
		border-radius: 10px;

		&:hover {
			background-color: var(--color-hover-category);
			box-shadow: 0px 6px 22px rgba(0, 0, 0, 0.16);

			path {
				fill: #fff;
			}
		}
	}

	&__title {
		width: 181px;
		font-style: normal;
		font-weight: 700;
		font-size: 30px;
		line-height: 36px;
	}

	&__subtitle {
		width: 270px;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 32px;
	}
}



.background-categories {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 100%;
	margin: auto;
	z-index: -1;
}