.section-categories {
	margin-bottom: 84px;

	&__container-title {
		width: 200px;
		margin: 0 auto;
		margin-bottom: 34px;
	}

	&__categories {
		position: relative;
		height: 500px;
		//@include total-padding;

		@media (max-width: 1111px) {
			background-color: var(--background-color-gray);
			height: 100%;
		}
	}


}

.background-categories {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 100%;
	margin: auto;
	z-index: $ui-index0;

	@media (max-width: 1111px) {
		display: none;
	}
}

body[data-theme="dark"] .background-categories {
	display: none;
}

body[data-theme="dark"] .section-categories__categories {
	background-color: var(--background-color-gray)
}