footer {
	background: var(--background-color-gray);
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 236px;
	flex-wrap: wrap;
	@include total-padding;


	&__nav {
		width: 478px;
		height: 27px;
	}
}

.nav {
	&__list-footer {
		display: flex;
		justify-content: space-between;
		width: 478px;
		height: 27px;
	}

	&__item-footer {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
	}
}