footer {
	background: var(--background-color-gray);
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 236px;
	flex-wrap: wrap;
	@include total-padding;

	@media (max-width: 747px) {
		justify-content: center;
	}


	&__nav {
		width: 478px;
		height: 27px;
	}
}

.nav {
	&__list-footer {
		display: flex;
		justify-content: space-between;
		row-gap: 20px;
		flex-wrap: wrap;
		max-width: 478px;
		height: 27px;


	}

	&__item-footer {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
	}

	&__link-footer {
		cursor: pointer;
		background: linear-gradient(90deg, var(--color-orange) 0%, var(--color-orange-light) 100%) no-repeat;
		background-size: 0% 2px;
		background-position: left bottom;
		transition: all 0.3s ease;

		&:hover {
			background-size: 100% 2px;
		}
	}
}