.header {
	display: flex;
	padding-top: 28px;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 160px;
	width: 95%;
	@include total-padding;

	&__name-company {
		color: var(--color-orange);
		font-family: Inter;
		font-weight: 800;
		font-size: 24px;
	}

	&__box-control {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 555px;
		height: 33px;
		font-family: Inter;
		font-weight: 500;
		font-size: 18px;

		@media (max-width: 755px) {
			display: none;

		}
	}

	&__toggle {
		transform: translateY(-16px);
	}
}

.nav {

	&__list {
		display: flex;
		justify-content: space-between;
		max-width: 260px;
		width: 100%;

	}

	&__link {
		cursor: pointer;
		background: linear-gradient(90deg, var(--color-orange) 0%, var(--color-orange-light) 100%) no-repeat;
		background-size: 0% 2px;
		background-position: left bottom;
		transition: all 0.3s ease;

		&:hover {
			background-size: 100% 2px;
		}
	}
}

.select-languages {
	display: flex;
	justify-content: space-between;
	max-width: 100px;
	width: 100%;
	padding-top: 7px;
	cursor: pointer;

	&__earth {
		transform: translateY(-2px);
	}

}

.burger-nav {
	display: none;
	width: 55px;
	height: 61px;

	@media (max-width: 755px) {
		display: block;


	}
}