.main-index {
	margin-bottom: 246px;
	position: relative;
	@include total-padding;

	@media (max-width: 567px) {
		margin-bottom: calc(100% - 400px);
	}

	@media (max-width: 400px) {
		margin-bottom: 0;
	}

	&__content {
		display: flex;
		justify-content: space-between;
		width: 100%;
		gap: 50px;
		flex-wrap: wrap;

		@media (max-width: 1200px) {
			justify-content: center;
			row-gap: 120px;

		}

		@media (max-width: 567px) {
			height: 900px;
			row-gap: 50px;
		}
	}

	&__left-content {
		width: 540px;
		height: 324px;
	}

	&__right-content {
		transform: translateY(-15px);

		width: 540px;

		img,
		picture {
			object-fit: cover;
			width: 100%;
		}

		@media (max-width: 1200px) {
			transform: translateY(0);
			transform: translateX(-35px);
		}

		@media (max-width: 567px) {
			transform: translateY(0);
			transform: translateX(0);
			width: 100%;
		}
	}
}