.main-index {
	margin-bottom: 246px;
	position: relative;
	@include total-padding;

	&__content {
		display: flex;
		justify-content: space-between;
		width: 100%;
		gap: 50px;
		flex-wrap: wrap;

		@media (max-width: 1200px) {
			justify-content: center;

		}
	}

	&__left-content {
		width: 540px;
		height: 324px;


	}

	&__right-content {
		transform: translateY(-15px);

		width: 540px;

		img,
		picture {
			object-fit: cover;
			width: 100%;
		}

		@media (max-width: 1200px) {
			transform: translateY(0);
			transform: translateX(-35px);
		}
	}
}

.target-action {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: Inter;

	&__title {
		max-width: 600px;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 800;
		font-size: 78px;
		line-height: 80px;

	}

	&__orange {
		color: var(--color-orange)
	}

	&__subtitle {
		width: 208px;
		height: 22px;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
	}
}

.road {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 100%;
	left: 0;
	margin: auto;
	max-width: 1440px;
	width: 100%;
	z-index: -1;
}