.main-index {
	padding-top: 160px;

	&__content {
		display: flex;
		justify-content: space-between;
		width: 100%;
		gap: 50px;
		flex-wrap: wrap;

		@media (max-width: 1200px) {
			justify-content: center;

		}
	}

	&__left-content {
		width: 540px;
		height: 324px;


	}

	&__right-content {
		transform: translateY(-15px);

		width: 540px;

		img,
		picture {
			object-fit: cover;
			width: 100%;
		}

		@media (max-width: 1200px) {
			transform: translateY(0);
			transform: translateX(-35px);
		}
	}
}

.target-action {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: Inter;

	&__title {
		max-width: 600px;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 800;
		font-size: 78px;
		line-height: 80px;

	}

	&__orange {
		color: var(--color-orange)
	}

	&__subtitle {
		width: 208px;
		height: 22px;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
	}
}

.main-button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 20px;
	gap: 21px;
	width: 246px;
	height: 58px;
	box-shadow: 0px 6px 22px rgba(0, 0, 0, 0.16);
	border-radius: 10px;
	border: 0;
	background: var(--color-button);

	&__text {
		color: #ffff;
	}
}

.road {
	position: absolute;
	max-width: 1440px;
	width: 100%;
	overflow: hidden;
	z-index: -1;
}