.search-section {
	font-family: Inter;
	color: var(--color-font);

	&__container-title {
		text-align: center;
	}

	&__title {
		margin-bottom: 60px;
	}

	&__search {
		display: flex;
		justify-content: center;
		margin-bottom: 50px;
	}

	&__control-panel {
		display: flex;
		flex-wrap: wrap;
		row-gap: 20px;
		justify-content: space-between;
		margin: 0 auto;
		width: 60%;
	}
}

.title-categories {
	font-family: Poppins;
	font-size: medium;
	color: var(--color-orange);
	font-size: 25px;
}

.search {
	display: flex;

	&__input {
		width: 459px;
		height: 48px;
		padding: 12px 32px 12px 16px;
		background: var(--background-color-gray);
		border-bottom-right-radius: 8px 8px;
		border-top-right-radius: 8px 8px;
		border: 1px solid var(--background-color-gray);
		outline: 0;
		caret-color: var(--color-font)
	}

	&__btn {
		height: 48px;
		width: 48px;
		background: var(--background-color-gray);
		border: 1px solid var(--background-color-gray);
		border-top-left-radius: 8px 8px;
		border-bottom-left-radius: 8px 8px;

		&:hover {
			cursor: pointer;
			background: var(--color-focus-loupe);
		}
	}

	&__loupe {
		path {
			fill: var(--color-font);
		}
	}
}

.sort {
	display: flex;
	justify-content: space-between;
	column-gap: 10px;
	min-width: 210px;
	box-shadow: 0px 3.99276px 11.9783px rgba(105, 61, 231, 0.2);
	background-color: var(--background-color-gray);
	border-radius: 10px;

	&__title {
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 5px;
		padding: 10px;
		border-radius: 10px;
		background-color: var(--color-violet);
		color: var(--color-font-white);
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;

	}

	&__list {
		display: inline-flex;
		align-items: center;
		gap: 15px;
		padding: 10px;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 600;
		font-size: 16px;

		&:hover {
			cursor: pointer;
		}
	}
}