.search-section {
	font-family: Inter;
	color: var(--color-font);
	margin-bottom: 40px;

	&__container-title {
		text-align: center;
	}

	&__title {
		margin-bottom: 60px;
	}

	&__search {
		display: flex;
		justify-content: center;
		margin-bottom: 50px;
	}

	&__control-panel {
		display: flex;
		flex-wrap: wrap;
		row-gap: 40px;
		justify-content: space-between;
		margin: 0 auto;
		width: 60%;

		@media (max-width: 1000px) {
			justify-content: center;

		}

		@media (max-width: 550px) {
			justify-content: center;
			width: 100%;
		}
	}
}

.title-categories {
	font-family: Poppins;
	font-size: medium;
	color: var(--color-orange);
	font-size: 25px;
}