include ./mixins/mixins

doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		block head
			title My Website

	body
		.container 
			include ./blocks/_header
			block content

			include ./blocks/_footer

