mixin hamburger
	.hamburger
		+cross
		.hamburger__flex-container
			.hamburger__box-control
						ul.nav__list-hamburger
							each item in links
								li.nav__item
									a.nav__link #{item}
						.hamburger__select-languages.select-languages
							img.select-languages__earth(src="img/earth.png", alt="earth")
							p.select-languages__languages English
							img.select-languages__arrow(src="img/arrow.png", alt="arrow")
						.toggle-switch.hamburger__toggle
							label.toggle-switch__label
								input.toggle-switch__checkbox(type='checkbox')
								span.toggle-switch__slider