mixin place-item
	.place-item
		.place-item__container-image
				img(class="place-item__img", src="/img/place.jpg", alt="place", width='400', height='300')
		.place-item__text
			h1.place-item__title Text title
			h2.place-item__address Россия, Москва, улица
			.place-item__description
				<p><b>Российская академия музыки (РАМ) имени Гнесиных</b>&nbsp;— федеральное государственное музыкально-педагогическое образовательное учреждение высшего образования в г. Москве, расположенное по адресу Поварская улица, д. 30-36.</p><p>Академия является одним из двух базовых высших учебных заведений учебно-методического объединения России по образованию в области музыкального искусства, наряду с Московской консерваторией. Один из ведущих музыкальных вузов страны и мира.</p><p>Академия является единственным вузом, в котором представлены все специальности и специализации различных музыкальных направлений, изучаемых в России.</p>
		