mixin place(name = [])
	.place
		.place__container-image
			img(class="place__img", src="/img/place.jpg", alt="place", width='400', height='300')
			.place__rate
				+place-star
				span.place__text 5
		.place__container-text
			.place__title title
			.place__categories categories
			button.place__button get more