mixin sort(orders = [])
	.sort
		.sort__title
			+sort-ico
			span.sort__text Sort By
		.sort__list
			each order in orders
				.sort__container
					input.sort__input(id=order, name='filter', type="radio", value=order)
					label.sort__label(for=order)= order
