mixin arrow-right
	svg.action__arrow(width='40' height='14' viewbox='0 0 22 14' fill='none' xmlns='http://www.w3.org/2000/svg')
		path(d='M14.2931 1.70711C13.9026 1.31658 13.9026 0.683417 14.2931 0.292893C14.6837 -0.0976311 15.3168 -0.0976311 15.7074 0.292893L21.7073 6.29289C22.0979 6.68342 22.0979 7.31658 21.7073 7.70711L15.7074 13.7071C15.3168 14.0976 14.6837 14.0976 14.2931 13.7071C13.9026 13.3166 13.9026 12.6834 14.2931 12.2929L18.586 7.99998H1.01103C0.452653 7.99998 0 7.55227 0 6.99998C0 6.4477 0.452653 5.99998 1.01103 5.99998H18.586L14.2931 1.70711Z' fill='#FD6D61')

mixin restaurant
	svg.categories__icon(width='28' height='35' viewbox='0 0 28 35' fill='none' xmlns='http://www.w3.org/2000/svg')
		path(d='M28 0V34.2222H24.8889V20.5333H20.2222V8.55556C20.2222 6.28648 21.0417 4.11034 22.5003 2.50586C23.9589 0.901386 25.9372 0 28 0ZM9.33333 20.3622V34.2222H6.22222V20.3622C4.4657 19.9672 2.8871 18.917 1.75334 17.3892C0.619574 15.8615 0.000219435 13.9499 0 11.9778V1.71111H3.11111V13.6889H6.22222V1.71111H9.33333V13.6889H12.4444V1.71111H15.5556V11.9778C15.5553 13.9499 14.936 15.8615 13.8022 17.3892C12.6685 18.917 11.0899 19.9672 9.33333 20.3622Z' fill='#EF5DA8')

mixin hangouts
	svg.categories__icon(width='33' height='33' viewbox='0 0 33 33' fill='none' xmlns='http://www.w3.org/2000/svg')
		path(d='M0 0H14.6667V14.6667H0V0ZM0 18.3333H14.6667V33H0V18.3333ZM18.3333 0H33V14.6667H18.3333V0ZM18.3333 18.3333H33V33H18.3333V18.3333ZM22 3.66667V11H29.3333V3.66667H22ZM22 22V29.3333H29.3333V22H22ZM3.66667 3.66667V11H11V3.66667H3.66667ZM3.66667 22V29.3333H11V22H3.66667Z' fill='#EF5DA8')

mixin utilities
	svg.categories__icon(width='34' height='32' viewbox='0 0 34 32' fill='none' xmlns='http://www.w3.org/2000/svg')
		path(d='M30.3125 16.8521L26.7292 11.7292L9.6625 23.6792L13.2458 28.7979L9.83333 31.1896L0.275002 17.5354L3.6875 15.1459L7.27083 20.2667L24.3375 8.31669L20.7542 3.19586L24.1667 0.806274L33.725 14.4584L30.3125 16.85V16.8521Z' fill='#EF5DA8')

mixin shopping
	svg.categories__icon(width='38' height='34' viewbox='0 0 38 34' fill='none' xmlns='http://www.w3.org/2000/svg')
		path(d='M35.8889 0C36.3899 0 36.8703 0.199007 37.2245 0.553243C37.5788 0.907478 37.7778 1.38792 37.7778 1.88889V15.1111C37.7778 15.6121 37.5788 16.0925 37.2245 16.4468C36.8703 16.801 36.3899 17 35.8889 17H32.1092L32.1111 32.1111C32.1111 32.6121 31.9121 33.0925 31.5579 33.4468C31.2036 33.801 30.7232 34 30.2222 34H7.55556C7.05459 34 6.57415 33.801 6.21991 33.4468C5.86567 33.0925 5.66667 32.6121 5.66667 32.1111L5.66478 16.9981L1.88889 17C1.38792 17 0.907478 16.801 0.553243 16.4468C0.199007 16.0925 0 15.6121 0 15.1111V1.88889C0 1.38792 0.199007 0.907478 0.553243 0.553243C0.907478 0.199007 1.38792 0 1.88889 0H13.2222C13.2222 1.50289 13.8192 2.94423 14.882 4.00694C15.9447 5.06964 17.386 5.66667 18.8889 5.66667C20.3918 5.66667 21.8331 5.06964 22.8958 4.00694C23.9585 2.94423 24.5556 1.50289 24.5556 0H35.8889Z' fill='#EF5DA8')

mixin arrow-top
	svg.arrow-top__icon(width='30' height='30' viewbox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg')
		path(fill-rule='evenodd' clip-rule='evenodd' d='M15 0.333344C6.90001 0.333344 0.333344 6.90001 0.333344 15C0.333344 23.1 6.90001 29.6667 15 29.6667C23.1 29.6667 29.6667 23.1 29.6667 15C29.6667 6.90001 23.1 0.333344 15 0.333344ZM10.6093 17.9427C10.3579 18.1856 10.0211 18.3199 9.67148 18.3169C9.32188 18.3139 8.98746 18.1736 8.74025 17.9264C8.49304 17.6792 8.35282 17.3448 8.34978 16.9952C8.34674 16.6456 8.48113 16.3088 8.72401 16.0573L14.0573 10.724C14.3074 10.474 14.6465 10.3336 15 10.3336C15.3536 10.3336 15.6926 10.474 15.9427 10.724L21.276 16.0573C21.5189 16.3088 21.6533 16.6456 21.6502 16.9952C21.6472 17.3448 21.507 17.6792 21.2598 17.9264C21.0126 18.1736 20.6781 18.3139 20.3285 18.3169C19.9789 18.3199 19.6421 18.1856 19.3907 17.9427L15 13.552L10.6093 17.9427Z' fill='#EF5DA8')

