include ./lang/_links-html

-const navLinks = isEng ? ['/index.html', '/index.html#categories', '/index.html#about'] : ['/index-ru.html', '/index-ru.html#categories', '/index-ru.html#about'];
-const isApp = true;