.pagination {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;

	input {
		display: none;

		@for $i from 1 through 8 {
			&#toggle-#{$i}:checked~.label-#{$i} {
				width: 6rem;
			}
		}
	}

	label {
		width: 4rem;
		height: 3rem;
		border-radius: 999px;
		background: var(--color-orange);
		cursor: pointer;
		transition: 0.25s ease;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;

		&:hover {
			background: $color;
		}
	}
}