.target-action {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: Inter;

	@media (max-width: 567px) {
		row-gap: 40px;
		align-items: center;
		text-align: center;
	}

	&__title {
		max-width: 600px;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 800;
		font-size: 78px;
		line-height: 80px;
	}

	&__orange {
		color: var(--color-orange)
	}

	&__subtitle {
		width: 250px;
		height: 22px;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
	}
}