.container-title {
	position: relative;
	display: inline-block;

	&__title {

		font-family: 'Inter';
		font-style: normal;
		font-weight: 600;
		font-size: 36px;
		line-height: 80px;
	}

	&__line {
		position: absolute;
		top: 70%;
		left: 0;
		right: 0;
		bottom: 0;
		width: 50%;
		border: 3px solid var(--color-orange-light);
	}
}