-const aboutTitle = 'О нас'

-const aboutDescriptionTitle1 = 'Выбирайте лучшие места'
-const aboutDescriptionSubtitle1 = 'Сайт предлагает удобный и быстрый поиск мест для отдыха в любом городе или регионе, где вы планируете путешествовать. Вы можете использовать сайт для поиска мест, когда вам это удобно, в любое время и в любом месте.'

-const aboutDescriptionTitle2 = 'Фильтрация мест по категориям'
-const aboutDescriptionSubtitle2 = 'Вы можете отфильтровать список мест для отдыха, чтобы увидеть только те, которые соответствуют вашим интересам и предпочтениям. Например, вы можете отфильтровать места по категориям, таким как природа, архитектура, достопримечательности культуры.'