-const categoriesTittle= 'Категории'

-const categoryTitle1 = 'Культура'
-const categorySubtitle1 = 'Музеи, галереи, художественные выставки, театры, концертные залы.'

-const categoryTitle2 = 'Природа'
-const categorySubtitle2 = 'Национальные парки, заповедники, озера, реки, горы.'

-const categoryTitle3 = 'Архитектура'
-const categorySubtitle3 = 'Здания, монументы, памятники архитектуры.'

-const categoryTitle4 = 'Туризм'
-const categorySubtitle4 = 'Магазины, еда, кафе, парки.'