-const searchTitle = 'Просто напишите название города'

-const searchTextSelectCategories = 'Выберите категорию'
-const searchCategories = ['Интересные места', 'Культура', 'Туризм', 'Архитектура', 'Природа']
-const searchDataCategories = ['interesting_places', 'cultural', 'tourist_facilities', 'architecture', 'natural']

-const searchTextFilters = ['История', 'Религия']
-const searchIdFilters = ['historic', 'religion']

-const searchTextSort = ['Имя', 'Рейтинг']
-const searchIdSort = ['name', 'rating']