// Позиционирование на оси Z
$ui-index0: -1;
$ui-index1: 1;
$ui-index2: 2;
$ui-index3: 3;
$ui-index4: 4;
$ui-index5: 5;


$color: #FD6D61; // цвет кнопки при наведении

$padding-filter: 10px; // расстояние между чекбоксами фильтра

$width: 330px; // ширина выбора категории