extends  ./pug/layout

block head
	title FindPlace
	+links('style')
	+scripts('app')

block content
	include ./pug/variables/lang/ru/_main
	include ./pug/variables/_app
	.wrapper
		include ./pug/blocks/_header
		.content
			include ./pug/blocks/_search
			include ./pug/blocks/_places
		include ./pug/blocks/_back
		include ./pug/blocks/_footer


