extends  ./pug/layout

block head
	title FindPlace
	+links('style')
	+scripts('app')

block content
	-const arr = ['/', '#categories', '#about'];
	include ./pug/blocks/_header
	include ./pug/blocks/_search


