extends  ./pug/layout

block head
	title FindPlace
	+links('style')
	+scripts('app')

block content
	include ./pug/variables/_app
	include ./pug/blocks/_header
	include ./pug/blocks/_search
	include ./pug/blocks/_places


