extends  ./pug/layout

block head
	title FindPlace
	+links('style')
	+scripts('index')

block content
	-const arr = ['home', 'categories', 'about'];
	include ./pug/blocks/_header
	include ./pug/blocks/_main-index
	include ./pug/blocks/_categories
	include ./pug/blocks/_about
	include ./pug/blocks/_back
	include ./pug/blocks/_footer



	