extends  ./pug/layout

block head
	title A Specific Page of My Website
	+links('style')
	+scripts('index')

block content
	img(src="img/road.svg", alt="road", srcset="").road
	include ./pug/blocks/_main-index



	