extends  ./pug/layout

block head
	title FindPlace
	+links('style')
	+scripts('index')

block content
	include ./pug/blocks/_main-index
	include ./pug/blocks/_categories
	include ./pug/blocks/_about
	include ./pug/blocks/_back



	