// Подключение конфигов
@import "config/_normalize.scss";
@import "config/_reset.scss";
@import "config/_fonts.scss";
@import "config/_mixins.scss";
@import "config/_theme.scss";
@import "config/_variables.scss";
@import "config/_selectors.scss";
@import "config/_leaflet.scss";

// Подключение блоков
@import "blocks/_header.scss";
@import "blocks/_main-index.scss";
@import "blocks/_categories.scss";
@import "blocks/_about.scss";
@import "blocks/_back.scss";
@import "blocks/_footer.scss";
@import "blocks/_search-section.scss";
@import "blocks/_places.scss";
@import "blocks/_placeItem-section.scss";

// Подключение общих элементов
@import "ui/_toggle-btn.scss";
@import "ui/_button.scss";
@import "ui/_title.scss";
@import "ui/_action.scss";
@import "ui/_menu.scss";
@import "ui/_menu-language.scss";
@import "ui/_select-categories.scss";
@import "ui/_filter.scss";
@import "ui/_place.scss";
@import "ui/_sort.scss";
@import "ui/_category.scss";
@import "ui/_description.scss";
@import "ui/_select-languages.scss";
@import "ui/_burger.scss";
@import "ui/_target-action.scss";
@import "ui/_road.scss";
@import "ui/_search.scss";
@import "ui/_loading.scss";
@import "ui/_place-item.scss";
@import "ui/_pagination.scss";