// Подключение конфигов
@import "config/_normalize.scss";
@import "config/_reset.scss";
@import "config/_fonts.scss";
@import "config/_mixins.scss";
@import "config/_theme.scss";
@import "config/_variables.scss";
@import "config/_selectors.scss";

// Подключение блоков
@import "blocks/_header.scss";
@import "blocks/_main-index.scss";
@import "blocks/_categories.scss";
@import "blocks/_about.scss";
@import "blocks/_back.scss";
@import "blocks/_footer.scss";
@import "blocks/_search-section.scss";
@import "blocks/_places.scss";

// Подключение общих элементов
@import "helpers/_toggle-btn.scss";
@import "helpers/_button.scss";
@import "helpers/_title.scss";
@import "helpers/_action.scss";
@import "helpers/_menu.scss";
@import "helpers/_menu-language.scss";
@import "helpers/_select-categories.scss";
@import "helpers/_filter.scss";
@import "helpers/_place.scss";
@import "helpers/_sort.scss";
@import "helpers/_category.scss";
@import "helpers/_description.scss";
@import "helpers/_select-languages.scss";
@import "helpers/_burger.scss";
@import "helpers/_target-action.scss";
@import "helpers/_road.scss";
@import "helpers/_search.scss";
@import "helpers/_loading.scss";