// Подключение конфигов
@import "config/_normalize.scss";
@import "config/_reset.scss";
@import "config/_fonts.scss";

// Подключение блоков
@import "blocks/_header.scss";
@import "blocks/_main-index.scss";
@import "blocks/_categories.scss";
@import "blocks/_about.scss";
@import "blocks/_back.scss";
@import "blocks/_footer.scss";

// Подключение общих элементов
@import "helpers/_toggle-btn.scss";
@import "helpers/_button.scss";
@import "helpers/_title.scss";
@import "helpers/_action.scss";


// Глобальный контейнер
.container {
	max-width: 1240px;
	width: 100%;
	padding: 0 20px;
	margin: 0 auto;
	overflow: hidden;
}


// Глобальные переменные
:root {
	--color-orange: #F96C61;
	--color-orange-light: #FD6D61;
	--color-hover-category: #EF5DA8;
	--color-gray: #A5A6F6;

	--background-color-gray: rgba(239, 239, 239, 0.83);
}