// Подключение конфигов
@import "config/_normalize.scss";
@import "config/_reset.scss";
@import "config/_fonts.scss";
@import "config/mixins.scss";

// Подключение блоков
@import "blocks/_header.scss";
@import "blocks/_main-index.scss";
@import "blocks/_categories.scss";
@import "blocks/_about.scss";
@import "blocks/_back.scss";
@import "blocks/_footer.scss";

// Подключение общих элементов
@import "helpers/_toggle-btn.scss";
@import "helpers/_button.scss";
@import "helpers/_title.scss";
@import "helpers/_action.scss";
@import "helpers/_menu.scss";
@import "helpers/_menu-language.scss";
@import "helpers/_select-categories.scss";


// Глобальный контейнер
.container {
	max-width: 1240px;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}


// Глобальные переменные
body[data-theme="light"] {
	--color-orange: #F96C61;
	--color-orange-light: #FD6D61;
	--color-hover-category: #EF5DA8;
	--color-gray: #A5A6F6;

	--background-color-gray: rgba(239, 239, 239, 0.83);
	--background-color-white: #FFFFFF;

	--menu-background: #a8abb1;

	--color-font: #000;
}

body[data-theme="dark"] {
	--color-orange: #d2483e;
	--color-orange-light: #da7467;
	--color-hover-category: #ef6e5d;
	--color-gray: #A5A6F6;

	--background-color-gray: #292c31;
	--background-color-white: #1e2024;

	--menu-background: #3a3f49;

	--color-font: #bebebe;
}

body {
	background-color: var(--background-color-white);
	color: var(--color-font);
}

// Главные селекторы по тегам

* {
	scroll-behavior: smooth;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: var(--color-font);
}