-const aboutTitle = 'About'

-const aboutDescriptionTitle1 = 'Choose the best places'
-const aboutDescriptionSubtitle1 = 'The website offers a convenient and fast search for places to rest in any city or region where you plan to travel. You can use the site to search for places when it is convenient for you, at any time and in any place.'


-const aboutDescriptionTitle2 = 'Filtering places by categories'
-const aboutDescriptionSubtitle2 = 'You can filter the list of recreational places to see only those that match your interests and preferences. For example, you can filter places by categories such as nature, architecture, cultural landmarks.'