-const categoriesTittle= 'Categories'

-const categoryTitle1 = 'Cultural'
-const categorySubtitle1 = 'Museums, galleries, art exhibitions, theaters, concert halls.'

-const categoryTitle2 = 'Natural'
-const categorySubtitle2 = 'National parks, reserves, lakes, rivers, mountains.'

-const categoryTitle3 = 'Architecture'
-const categorySubtitle3 = 'Buildings, monuments, architectural monuments.'

-const categoryTitle4 = 'Tourism'
-const categorySubtitle4 = 'Shops, food, cafes, parks.'