-const searchTitle = 'Just write the city'

-const searchTextSelectCategories = 'Select category'
-const searchCategories = ['Interesting places', 'Cultural', 'Tourism', 'Architecture', 'Natural']
-const searchDataCategories = ['interesting_places', 'cultural', 'tourist_facilities', 'architecture', 'natural']

-const searchTextFilters = ['Historic', 'Religion']
-const searchIdFilters = ['historic', 'religion']

-const searchTextSort = ['Name', 'Rating']
-const searchIdSort = ['name', 'rating']